@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

/*
Color Scheeme
https://coolors.co/05668d-427aa1-ebf2fa-679436-a5be00
- #05668D
- #427AA1
- #EBF2FA
- #679436
- #A5BE00
*/

body {
   font-family: "Montserrat", sans-serif;
   display: flex;
   justify-content: center;
   background-color: #ebf2fa;
   color: #427aa1;
}

input[type="submit"] {
   background-color: #ebf2fa;
   color: #427aa1;
}

.auth {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 75%;
}

.part-auth {
   background-color: #ebf2fa;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 20px;
   width: 75%;
}

.sign-up-form {
   display: flex;
   flex-direction: column;
}

.log-in-form {
   display: flex;
   flex-direction: column;
}

.logout-button {
   font-size: 10px;
}

.main-background {
   background-color: #ebf2fa;
   color: #427aa1;
   width: 100%;
}
/* 
.container {
   width: 85%;
}
*/
.main-header {
   display: flex;
   justify-content: space-between;
   padding: 25px 10px 0 10px;
}

.header-button {
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-buttons {
   display: flex;
   justify-content: space-evenly;
}

.profile {
   display: flex;
   flex-direction: column;
   align-items: center;
}

img {
   border-radius: 25px;
   height: 300px;
   width: auto;
}

.matches_list img {
   height: 50px;
   width: auto;
}

/* h1 {
   color: red;
} */
