@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
   font-family: "Montserrat", sans-serif;
}

img {
  height: 300px;
  width: auto;
}

h1 {
   color: red;
}
