<div class="part-auth">
   <div class="sign-up">
      <h2>Create User</h2>
      <form ng-submit="ctrl.createUser()">
         <input type="text" ng-model="ctrl.newUsername" />
         <input type="password" ng-model="ctrl.newPassword" />
         <input type="submit" value="Create User" />
      </form>
   </div>
   <div class="log-in">
      <h2>Log In</h2>
      <form ng-submit="ctrl.logIn()">
         <input type="text" ng-model="ctrl.username" />
         <input type="password" ng-model="ctrl.password" />
         <input type="submit" value="Log In" />
      </form>
   </div>
</div>
