<div ng-repeat="profile in ctrl.userProfiles">
   <div class="profile" ng-if="$index === ctrl.profileIndexToShow">
      <h2>Looking for Someone Special...</h2>
      <img ng-src="{{ profile.imgURL }}" alt="Profile Picture" />
      <br />
      <button
         ng-if="ctrl.currentUser.interested.indexOf(profile._id) === -1"
         ng-click="ctrl.startInterest(profile._id)"
      >
         I'm Interested in {{ profile.info.name }}
      </button>
      <button
         ng-if="ctrl.currentUser.interested.indexOf(profile._id) !== -1"
         ng-click="ctrl.stopInterest(profile._id)"
      >
         I'm No Longer Interested in {{ profile.info.name }}</button
      ><br />
      <p>Name: {{ profile.info.name }}</p>
      <p>Age: {{ profile.info.age }}</p>
      <p>Height: {{ profile.info.height }}</p>
      <p>Location: {{ profile.info.location }}</p>
      <p>Bio: {{ profile.info.bio }}</p>
      <div class="browse-buttons">
         <button ng-click="ctrl.viewPrevProfile()">Previous</button>
         <!-- <button ng-click="ctrl.toggleBrowsing()">Stop Browsing</button> -->
         <button ng-click="ctrl.viewNextProfile()">Next</button>
      </div>
   </div>
</div>
